# Eclipse
.settings/
.classpath
.project

# Build/test output to ignore
/build/
target/site/serenity/jqueryui/1.11.2-start/jquery-ui.min.js
target/site/serenity/jqueryui/1.11.2-start/jquery-ui.structure.min.css
# Serenity and reports
/target/site/serenity/
/build/reports/
/build/test-results/
/target/site/

# Gradle caches (do not track local Gradle cache)
.gradle/

# Local binary caches
**/build/
**/target/

# Ignore local compiled test artefacts and staging dirs
build/tmp/
build/libs/

# Ignore Docker files
docker-image-*

# Keep this file tidy; remove specific build/target files from repository if already tracked.
target/site/serenity/jqueryui/1.11.2-start/jquery-ui.theme.min.css
target/site/serenity/jqueryui/1.11.2-start/external/jquery/jquery.js
target/site/serenity/jqueryui/1.11.2-start/images/ui-bg_flat_55_999999_40x100.png
target/site/serenity/jqueryui/1.11.2-start/images/ui-bg_flat_75_aaaaaa_40x100.png
target/site/serenity/jqueryui/1.11.2-start/images/ui-bg_glass_45_0078ae_1x400.png
target/site/serenity/jqueryui/1.11.2-start/images/ui-bg_glass_55_f8da4e_1x400.png
target/site/serenity/jqueryui/1.11.2-start/images/ui-bg_glass_75_79c9ec_1x400.png
target/site/serenity/jqueryui/1.11.2-start/images/ui-bg_gloss-wave_45_e14f1c_500x100.png
target/site/serenity/jqueryui/1.11.2-start/images/ui-bg_gloss-wave_50_6eac2c_500x100.png
target/site/serenity/jqueryui/1.11.2-start/images/ui-bg_gloss-wave_75_2191c0_500x100.png
target/site/serenity/jqueryui/1.11.2-start/images/ui-bg_inset-hard_100_fcfdfd_1x100.png
target/site/serenity/jqueryui/1.11.2-start/images/ui-icons_056b93_256x240.png
target/site/serenity/jqueryui/1.11.2-start/images/ui-icons_0078ae_256x240.png
target/site/serenity/jqueryui/1.11.2-start/images/ui-icons_d8e7f3_256x240.png
target/site/serenity/jqueryui/1.11.2-start/images/ui-icons_e0fdff_256x240.png
target/site/serenity/jqueryui/1.11.2-start/images/ui-icons_f5e175_256x240.png
target/site/serenity/jqueryui/1.11.2-start/images/ui-icons_f7a50d_256x240.png
target/site/serenity/jqueryui/1.11.2-start/images/ui-icons_fcd113_256x240.png
target/site/serenity/nivo-slider/3.2/jquery.nivo.slider.js
target/site/serenity/nivo-slider/3.2/jquery.nivo.slider.pack.js
target/site/serenity/nivo-slider/3.2/nivo-slider.css
target/site/serenity/nivo-slider/3.2/nivoslider.jquery.json
target/site/serenity/nivo-slider/3.2/demo/demo.html
target/site/serenity/nivo-slider/3.2/demo/style.css
target/site/serenity/nivo-slider/3.2/demo/images/dev7logo.png
target/site/serenity/nivo-slider/3.2/demo/images/nemo.jpg
target/site/serenity/nivo-slider/3.2/demo/images/toystory.jpg
target/site/serenity/nivo-slider/3.2/demo/images/up.jpg
target/site/serenity/nivo-slider/3.2/demo/images/walle.jpg
target/site/serenity/nivo-slider/3.2/demo/scripts/jquery-1.9.0.min.js
target/site/serenity/nivo-slider/3.2/themes/bar/arrows.png
target/site/serenity/nivo-slider/3.2/themes/bar/bar.css
target/site/serenity/nivo-slider/3.2/themes/bar/bullets.png
target/site/serenity/nivo-slider/3.2/themes/bar/loading.gif
target/site/serenity/nivo-slider/3.2/themes/dark/arrows.png
target/site/serenity/nivo-slider/3.2/themes/dark/bullets.png
target/site/serenity/nivo-slider/3.2/themes/dark/dark.css
target/site/serenity/nivo-slider/3.2/themes/dark/loading.gif
target/site/serenity/nivo-slider/3.2/themes/default/bullets.png
target/site/serenity/nivo-slider/3.2/themes/default/default.css
target/site/serenity/nivo-slider/3.2/themes/default/loading.gif
target/site/serenity/nivo-slider/3.2/themes/light/arrows.png
target/site/serenity/nivo-slider/3.2/themes/light/bullets.png
target/site/serenity/nivo-slider/3.2/themes/light/light.css
target/site/serenity/nivo-slider/3.2/themes/light/loading.gif
target/site/serenity/prism/prism.css
target/site/serenity/prism/prism.js
target/site/serenity/scripts/imgpreview.full.jquery.js
target/site/serenity/scripts/jquery-1.11.1.min.js
target/site/serenity/scripts/jquery.js
/target/
/target/
